div.grid_galery {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 100px); /* MOZDA TREBA JOS SMANJITI, MINIMUM */

    grid-gap: 0.8em;

    grid-auto-rows: 100px;

    /* IMPLEMENTIRA IMAGE PLACMENT ALGORITAM */
    
}

div.grid_galery img {
    width: 110%;
    border: #27503dc9 solid 1px;
}

div.grid_galery > div {
    overflow: hidden;
}

div.grid_galery > div.portrait {
    grid-row: span 2;
    grid-column: span 1;
}

div.grid_galery > div.landscape {
    grid-row: span 1;
    grid-column: span 2;
}

div.grid_galery > div.large {
    grid-column: span 2;
    grid-row: span 2;                
}
