/** {
    color: #e45b6e;
    
}*/

* {
    box-sizing: border-box;
}



.waving {
    position: relative;
    overflow: hidden;
}
.waving::before {
    content: "";
    border: orange solid 0px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: ;*/        /*DEFINISAO SAM DA SE OVE VREDNOSTI ZADA JU JAVASCRIPTO, TRIGGERING-OM KLIKA*/   
    /*left: ;*/  
    margin: auto auto;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at center, #51db913b 28%, #88ddb0a4 28.1%, transparent 29.2%);
    transform: scale(0,0);
    opacity: 1;

    /*animation-name: gradprogress;
    animation-iteration-count: 1;
    animation-duration: 0.8s;*/
}

.for_animation::before {
    animation-name: gradprogress;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
}

@keyframes gradprogress {
    0% {transform: scale(0,0); opacity: 1;}
    50% {opacity: 0.8;}
    38% {opacity: 0.78%;}
    100% {transform: scale(10, 10); opacity: 0;}
}


.neki_el {
    background-image: radial-gradient(circle, transparent 5%, green 20%, yellow 28%, purple 98%);
    color: #be88dda4;
    color: #eb6cc0f6;
    color: #ec9358;
}



