/** {
    color: #e45b6e;
    
}*/

* {
    box-sizing: border-box;
}

/*.waving {
    --from-left: 0px;
    --from-top: 0px;
}*/

.waving {
    position: relative;
    overflow: hidden;
}
.waving::before {
    content: "";
    border: orange solid 0px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: ;*/        /*DEFINISAO SAM DA SE OVE VREDNOSTI ZADA JU JAVASCRIPTO, TRIGGERING-OM KLIKA*/   
    /*left: ;*/
    
    /*left: var(--from-left);
    top: var(--from-top);*/
    margin: auto auto;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at center, #51db913b 28%, #88ddb0a4 28.1%, transparent 29.2%);
    transform: scale(0,0);
    opacity: 1;

    /*animation-name: gradprogress;
    animation-iteration-count: 1;
    animation-duration: 0.8s;*/
}

.for_animation::before {
    animation-name: gradprogress;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
}

@keyframes gradprogress {
    0% {transform: scale(0,0); opacity: 1;}
    50% {opacity: 0.8;}
    38% {opacity: 0.78%;}
    100% {transform: scale(10, 10); opacity: 0;}
}


.neki_el {
    background-image: radial-gradient(circle, transparent 5%, green 20%, yellow 28%, purple 98%);
    color: #be88dda4;
    color: #9de758;
    color: #292f38;
    color: #67f19c85;
    color: lightseagreen;
    color: tomato;
    color: lightcyan;
    color: #e67ba6;
    color: #21695b8e;
    color: #eeb752;
    color: lightgreen;
    color: #3a9b83;
    color: #f5c9c5;
}



.komun {
    width: 380px;
    height: 120px;

    -webkit-transition-property: width height;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;

    transition-property: width height;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0.4s;
}

/*.komun:focus {
    width: 600px;
    height: 260px;
}*/


.wave_styles {


   /* width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 1px solid orange;*/
    display: block;
    top: 0px;
    left: 0px;

    z-index: -1;

    background-repeat: no-repeat;
    background-image: radial-gradient(circle at center, #51db913b 28%, #88ddb0a4 28.1%, transparent 29.2%);
    opacity: 1;
    transform: scale(0,0);

    -webkit-transition-property: transform opacity;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0.5s;
    
    transition-property: transform opacity;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.transit {
    transform: scale(10,10);
    opacity: 0;
}





.vezba_poz_kon {
    position: relative;
    border: pink solid 2px;
    width: 620px;
    height: 358px;
    z-index: 2;
}

.vezba_poz_kon > * {
    position: absolute;
    z-index: -1;
}

.vezba_poz_kon > div:nth-child(1){
    left: 120px;
    z-index: -1;
}

.vezba_poz_kon > div:nth-child(2){
    left: 300px;
    z-index: -1;
}

.vezba_poz_kon > div:nth-child(3){
    left: 200px;
    z-index: -1;
}

.vezba_poz_kon > div:nth-child(4){
    bottom: 100px;
    z-index: -1;
}

.vezba_poz_kon > div:nth-child(5){
    bottom: 5px;
    z-index: -1;
    width: 100%;
}


/*styles for rippling-div*/
.kontejner {
    border: pink solid 2px;
    width: 78%;
    padding: 0px;
}
.rippling_root {
    width: 58%;
    border: pink solid 4px;
    margin: 8px auto;
    padding: 8px;
}

.rippling_item {
    position: absolute;
    width: 100%;
    height: 100%;
    border: #d64287 solid 0px;
    z-index: 1;

    background-image: radial-gradient(circle at center, #54dbb9c4 0%, #54dbb96e 28%, #54dbb9d7 28.1%, transparent 28.2%);
    
    opacity: 1;
    transform: scale(0,0);

    transition-property: transform opacity;
    transition-delay: 108ms;
    transition-duration: 3.8s;
    transition-timing-function: ease-out;
}

.rippling_effect {
    transform: scale(8,8);
    opacity: 0;
}

/*.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #67b8d8;
    opacity: 1;
}*/



.other_rippling[onesposobljen] {
    pointer-events: none;
    opacity: 0.6;
}


/*:defined PSEUDO CLASS*/

aside:defined {
    background-color: olive;
}

novitag:defined {
    background-color: pink;
}

novi-tag:defined {
    background-color: yellow;
}

novi-tag:not(:defined){
    background-color: yellow;
}

section {
    text-align: center;
    border: #1b7a72 solid 2px;
    opacity: 1;
}
.normal_class {
    border: pink solid 2px;
    width: 200px;
    height: 180px;
    font-size: 2rem;
    opacity: 0;
    color: pink;
    transition-property: opacity-color;
    transition: 6s ease-in-out;
}

.transition_class {
    opacity: 1;
    color: inherit;
}



/*some-anchor:not(:defined ){
    box-shadow: orange 10px 10px;
}*/

.neki-div {
    width: 260px;
    height: 120px;
    background-color: #1b7a72;
}

.neki-div > .child-div {
    width: 56px;
    height: 28px;
    background-color: #b1515e;
}

some-practice-element {
    color: #1b7a72;
}


.podcast_container {
    border: pink solid 1px;
    --podcast-font-style: italic;
}

.podcast_sibling {
    border: pink solid 2px;
    margin: 8px;
}

.tree_kont ul {
    /*border: #d64287 solid 2px;*/
    color: #292f38;
}

.tree_kont h4:hover {
    cursor: pointer;
    color: #b1515e;
}

.tree_kont h4 {
    display: inline-block;
}


.kont_za_drvo li > span:hover {
    cursor: pointer;
}
.tooltip {
    position: fixed;
    padding: 8px 18px;
    border: 1px solid olive;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #334;
    background: #fff;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .4);
}

.unselectable {
    -webkit-user-select: none;          /*UZEO SAM U OBZIR SVE VRSTE BROWSER-A*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#selectable_list ul li:hover {
    cursor: pointer;
}

.selected_option {
    background-color: pink;
}
