.boje {
    color: #e24c60;
    color: orange;
}

/* RAZUMEVANJE cascade-A I specificity-A */

.olive {
    color: olive;
}

.orange {
    color: orange;
}

/* KADA SE OVAKO ZAJEDNO PISU TAG I ID SELECTOR (BEZ RAZMAKA) (ILI TAG I class SELECTOR) */
/* TO ZNACI DA SE SELEKTUJE TAG KOJI IMA TAJ ID ILI CLASS SELECTOR */

li#glavni_item {
    color: red;
}

li.neki_item {
    color: blue;
}

/*GENERALNI SIBLING SELECTOR (COMBINATOR JE KARAKTER ~)*/
/*BIRA SUSEDNE ELEMENTE (MNOZINA) KOJI SU U ISTOM NESTING NIVOU KAO I ELEMENT*/
/* ALI BIRA SUSEDNE ELEMENTE, KOJI DOLAZE NAKON ONOG ELEMENTE, U ODNOSU NA KOJI SE
SELEKTUJE */

li.neki_item ~ li {
    color: green;
}

/*ADJACENT (SUSEDNI) SIBLING SELEKTOR (KOMBINATOR JE KARAKTER +)*/
/* BIRA SAMO JEDNOG SIBLINGSA (JEDNINA), NA ISTI NACIN KAO I KOD GENERAL SIBLING 
SELECTORA */

li.neki_item + li {
    color: yellow;
}

/* POSMATRAM SPECIFICITY ZA GENERAL SIBLING I ADJACENT */

/* NAIME NEMA SPECIFICITYJA, VEC KAD POSMATRAM CASCADE, SVE IMA SMISLA */

.bro + li {
    color: olive;
    font-weight: lighter;
}

.bro ~ li {
    color: tomato;

}

/* ISTU STVAR POSMATRAM ZA CHILD I DESCENDANT SELECTORE */

.neka_lista > li {
    color: purple;
}

.neka_lista li {
    color: pink;
}

/* I OPET KADA IMAM U VIDU CASCADING, I TOKOM 'PERMUTOVANJA' (MENJANJA MESTA OVIM
SELECTORIMA) JASNO MI JE STA SE MOZE DESITI */



/* ATRIBUT SELEKTOR ZAJEDNO SA PSEUDO ELEMENTOM */

a[href^=http] {
    color: #e24c60;    
}

a[href^=http]:after {
    font-weight: 600;
    color: olive;
    content: "(" attr(href) ")";

}

/* ZA SELEKTOTRE VEZANE ZA STANJE (UI SELEKTORI) */

/* ZA FORMULARE */

input[type=number] {
    width: 158px;
    height: 38px;
}

input[type=number]:in-range {
    background-color: green;
}

input[type=number]:out-of-range {
    background-color: red;
}

input[type=number]:invalid {
    outline: 10px solid palevioletred;
}

input[type=email]:valid {
    outline: 4px solid olive;
}

input[type=email]:invalid {
    outline: 2px solid tomato;
}


/* ZA STRUCTURAL UI PSEUDO KLASE */

/* html > :first-child {
    display: block;
}

html > :first-child > * {
    display: block;
}

body :last-of-type {
    color: slateblue;
    font-weight: bold;
    font-style: italic;
}  */



ul.nes_lis :first-of-type {
    color: greenyellow;
    font-weight: bolder;
    font-style: italic;
}



/* div.neki_kontejner :first-child {
    color: tomato;
} */

div.neki_kontejner :first-of-type {
    color: tomato;
}



