@import './junk/junkForimporting.css' only screen and (max-width: 600px) and (orientation: landscape);

.boje {
    color: #e24c60;
    color: orange;
    color: #25a88c;
    color: #6d668d00;
    color: #c80942;
    outline-style: ridge;
    text-decoration: underline;
    animation: forwards;
    color: #29299921;
}

/* RAZUMEVANJE cascade-A I specificity-A */

.olive {
    color: olive;
}

.orange {
    color: orange;
}

/* KADA SE OVAKO ZAJEDNO PISU TAG I ID SELECTOR (BEZ RAZMAKA) (ILI TAG I class SELECTOR) */
/* TO ZNACI DA SE SELEKTUJE TAG KOJI IMA TAJ ID ILI CLASS SELECTOR */

li#glavni_item {
    color: red;
}

li.neki_item {
    color: blue;
}

/*GENERALNI SIBLING SELECTOR (COMBINATOR JE KARAKTER ~)*/
/*BIRA SUSEDNE ELEMENTE (MNOZINA) KOJI SU U ISTOM NESTING NIVOU KAO I ELEMENT*/
/* ALI BIRA SUSEDNE ELEMENTE, KOJI DOLAZE NAKON ONOG ELEMENTE, U ODNOSU NA KOJI SE
SELEKTUJE */

li.neki_item ~ li {
    color: green;
}

/*ADJACENT (SUSEDNI) SIBLING SELEKTOR (KOMBINATOR JE KARAKTER +)*/
/* BIRA SAMO JEDNOG SIBLINGSA (JEDNINA), NA ISTI NACIN KAO I KOD GENERAL SIBLING 
SELECTORA */

li.neki_item + li {
    color: yellow;
}

/* POSMATRAM SPECIFICITY ZA GENERAL SIBLING I ADJACENT */

/* NAIME NEMA SPECIFICITYJA, VEC KAD POSMATRAM CASCADE, SVE IMA SMISLA */

.bro + li {
    color: olive;
    font-weight: lighter;
}

.bro ~ li {
    color: tomato;

}

/* ISTU STVAR POSMATRAM ZA CHILD I DESCENDANT SELECTORE */

.neka_lista > li {
    color: purple;
}

.neka_lista li {
    color: pink;
}

/* I OPET KADA IMAM U VIDU CASCADING, I TOKOM 'PERMUTOVANJA' (MENJANJA MESTA OVIM
SELECTORIMA) JASNO MI JE STA SE MOZE DESITI */



/* ATRIBUT SELEKTOR ZAJEDNO SA PSEUDO ELEMENTOM */

a[href^=http] {
    color: #e24c60;    
}

a[href^=http]:after {
    font-weight: 600;
    color: olive;
    content: "(" attr(href) ")";

}

/* ZA SELEKTOTRE VEZANE ZA STANJE (UI SELEKTORI) */

/* ZA FORMULARE */

/* input[type=number] {
    width: 158px;
    height: 38px;
}

input[type=number]:in-range {
    background-color: green;
}

input[type=number]:out-of-range {
    background-color: red;
}

input[type=number]:invalid {
    outline: 10px solid palevioletred;
}

input[type=email]:valid {
    outline: 4px solid olive;
}

input[type=email]:invalid {
    outline: 2px solid tomato;
} */


/* ZA STRUCTURAL UI PSEUDO KLASE */

/* html > :first-child {
    display: block;
}

html > :first-child > * {
    display: block;
}

body :last-of-type {
    color: slateblue;
    font-weight: bold;
    font-style: italic;
}  */



ul.nes_lis :first-of-type {
    color: greenyellow;
    font-weight: bolder;
    font-style: italic;
}



/* div.neki_kontejner :first-child {
    color: tomato;
} */

div.neki_kontejner :first-of-type {
    color: tomato;
}

.kontejner_neki :first-of-type {
    color: olive;
}

.kontejner_neki ul:first-of-type {
    background-color: yellow;
}

.kont1 :only-child {
    background-color: olive;
}

.kont2 :only-of-type {
    color: tomato;
}



.kont4 :last-child {
    color: orange;
}

.kont8 :last-of-type {
    background-color: purple;
}

.unr_lista :nth-child(8) {
    background-color: tomato;
}

ul.unr_lista :nth-child(2n) {
    font-style: italic;
}

ul.unr_lista :nth-child(2n + 1) {
    font-weight: bold;
}



div.kont_za_el :nth-of-type(4n + 1) {
    background-color: tomato;
}

div.kont_za_el p:nth-of-type(4n + 1) {
    color: olive;
}

div.kont_za_el div:nth-last-child(2n + 2) {
    font-weight: bold;
    font-size: 4em;
}

div.kont_za_el div:nth-last-of-type(2n + 2) {
    text-decoration: underline;
}

/* DEMONSTRACIJA STRUKTURALNIH PSEUDO KLASA */

.kont_blah_blah li:nth-child(1):nth-last-child(1) {
    width: 100%;
}

.kont_blah_blah li:nth-child(1):nth-last-child(2),
.kont_blah_blah li:nth-last-child(1):nth-child(2) {
    width: 50%;
}

.kont_blah_blah li:nth-child(1):nth-last-child(3),
.kont_blah_blah li:nth-last-child(1):nth-child(3),
.kont_blah_blah li:nth-child(2):nth-last-child(2) {
    width: 33.3%;
}

.kont_blah_blah li:nth-child(1):nth-last-child(4),
.kont_blah_blah li:nth-last-child(1):nth-child(4),
.kont_blah_blah li:nth-child(2):nth-last-child(3),
.kont_blah_blah li:nth-last-child(2):nth-child(3) {
    width: 25%;
}

table.neka_tabela {
    border-collapse: collapse;
    width: 100%;
}

/* table.neka_tabela td {
    font-size: 2rem;
    padding: 0.4em;
}
 */
/* table.neka_tabela tr:nth-of-type(odd) td:nth-of-type(even),
table.neka_tabela tr:nth-of-type(even) td:nth-of-type(odd) {
    background-color: tomato;
    color: #fff;
} */

table.neka_tabela tr:nth-of-type(3n) td:nth-of-type(3n)
, table.neka_tabela tr:nth-of-type(3n + 1) td:nth-of-type(3n + 1)
, table.neka_tabela tr:nth-of-type(3n + 2) td:nth-of-type(3n + 2)
{ 
    background-color: tomato;
    color: #fff;
}


/* NESTED TABELA */
table.us_flag > tr:first-child > td:first-child table {
    width: 100%;
    height: 100%;
    /* table-layout: fixed; */
    color: #ffffff;
    border: 6px solid #3C3B6E;
}

table.us_flag > tr:first-child > td:first-child table > tr {
    min-height: 26.44px;
}

/* TABLE DATA U KOJEM JE TABELA SA ZVEZDICAMA */
table.us_flag > tr:first-child > td:first-child {
    background-color: #3C3B6E;
}
/* SVAKI TABLE DATA NESTED TABELE */
table.us_flag > tr:first-child > td:first-child td {
    /* box-sizing: border-box; */
    border: #e60939 solid 0px;
    text-align: center;
    padding: 0px;
    /* word-wrap: break-word; */
    font-size: 1.2rem;
}

/* SVAKI TABLE DATA KOJI (IZUZEV ONIH NESTED TABELE) */
table.us_flag > tr > td {
    /* box-sizing: border-box; */
    border: olivedrab solid 0px;
    height: 34px;
}

table.us_flag {
    border: yellow solid 0px;
    width: 960px;
    table-layout: fixed;
    border-collapse: collapse;
}

/* table.us_flag > tr:nth-of-type(8) {
    background-color: #e24c60;
} */

/* STAVLJANJE CRVENIH PRUGA NA SVAKI NEPARNI TABLE ROW TABELE */

table.us_flag > tr:nth-child(2n + 1) {
    background-color: #B22234;
}

table.us_flag > tr:nth-child(2n) {
    background-color: #ffffff;
}

/* PRVO STO CU DEFINISATI JESTE DA BACKGROUND COLOR I FONT IMAJU #FFF BOJU */
#flag td {
    background-color: #fff;
    color: #fff;
}

/* DODAVANJE CRVENOG DELA (N NACIN DA SE IZBEGNE STILIZOVANJA PROSTORA SA ZVEZDICAMA) (PLAVOG DELA) */
/* U SVAKOM NEPARNOM TABELE ROW-U, TREBAM DA PRONADJEM OSMI TABLE DATA, I TREBAM SVAKI ADJACENT SIBLING
(TOG, SVAKOG OSMOG TD-A) DA STILIZUJEM NA SLEDDECI NACIN */
/* NARAVNO, POCEV OD, PETOG NEPARNOG REDA (ODNOSNO UKUPNOG DEVETOG REDA) (UKLJUCUJUCI I NJEGA); SVI TI REDOVI TREBAJU DA IMAJU
APLICIRAN, POMENUTI CRVENI BACKGROUND COLOR */
#flag tr:nth-of-type(odd) td:nth-of-type(8) ~ td,
#flag tr:nth-of-type(2n + 9) td {      /* OVAJ DRUGI SELEKTOR JE JAKO BITAN (SAGLEDATI GA I IMATI GA UVIDU) (JER ODLICNO KORISTI OSOBINE STRUCTURAL PSEUDO CLASS-A) */
    background-color: #900;
    color: #900;
}

/* ISTA STVAR JE I SA VAZNOSCU SLEDECEG SELEKTORA */
/* ON CE, OD KRAJA IZABRATI n + 7 TABLE ROW (STO ZNACI DA BIRA ONAJ RED U KOJEM OD KRAJA POCINJE SEKCIJA SA
 ZVEZDICAMA) (DAKLE OD TOG SEDMOG BIRA SVE DALJE REDOVE KA POCETKU), U SVAKOM OD TIH REDOVA TREBA
 IZABRATICSVAKI TABLE DATA, ALI KAD SE GLEDA SA SUPROTNE STRANE, BIRAM SVE TABLE DATA POCEV OD DEVETOG, KA
 PRVOM */   /*TREBA DODATI DA SVIM TIM IZABRANIM TABLE DATA-OVIMA, DAJEM PLAVU POZADINU, ISTO RADIM I SA
 TEKSTOM, A VELICINU FONTA PODESAVAM NA NULU (OVO POSLEDNJE RADIM JER VELICINA FONTA NECE BITI BITN, JER CU
 KASNIJE, PODESITI DA ZVEZDICE BUDU SADRZINE PSEUDO ELEMENATA) */
 #flag tr:nth-last-of-type(n + 7) td:nth-last-of-type(n + 9) {
    color: #009;
    background-color: #009;
    font-size: 0;
}

/* SADA CU SVAKOM OD TABLE DATE-OVA (KOJE SAM GORE STILIZOVAO) DODATI I :after PSEUDO ELEMENT (NJEGOV
content CE BITI ZVEZDICA (KADA SE UNICODE DODAJE U CSS, ONDA SE PISE U SLEDECEM FORMATU ) */
#flag tr:nth-last-of-type(n + 7) td:nth-last-of-type(n + 9)::after {
    content: '\2605';
    font-size: 15px;
    color:white;
}

#flag tr:nth-last-of-type(2n +7) td::after { /* SVAKA PARNA ZVEZDICA TREBA DA BUDE POMERENA U DESNO NEKOLIKO PIKSELA */
    position: relative;
    left: 15px;
}

/* FONT ZA SVAKI TABLE DATA */
#flag td {
    font-family:Verdana, Geneva, sans-serif;
    padding:3px 5px;
}




#divkont div:not(.excludeMe) {
    border: tomato solid 2px;
}

section div:not(:nth-of-type(4)){
    outline: rgb(204, 23, 50) solid 4px;
}


/* SPECIFICITY */

#blah.vrmVrm {                  /*NJEGOV SPECIFICITY JE       1-1-0      */
    background-color: tomato;   /* I ZATO JE OVAJ STIL APLICIRAN, A NE, OVAJ DONJI */
}

#blah {                         /*NJEGOV SPECIFICITY JE       1-0-0      */
    background-color: olive;
}

.nekiBlah div:nth-last-of-type(10n + 3) {       /*   0-2-1    */
    background-color: olive;
}

div.nekiBlah > :nth-of-type(4n + 3) {           /*   0-2-1    */
    background-color: tomato;
}

/*/////////*/

#oblikac {
    width: 200px;
    height: 180px;
    border: tomato solid 1px;
    overflow: auto;
}

input#kibput:read-write {
    border: tomato solid 4px;
}


select#kabung :default {
    background: tomato;
}

/*****************************/


input.inpEl {
    font-weight: bolder;
    font-size: 2rem;
}


input.inpEl:in-range {
    color: olive;
}

input.inpEl:out-of-range {
    color: tomato;
}

input.inpEl:valid {
    border: olive solid 2px;
}

input.inpEl:invalid {
    border: tomato solid 2px;
}

/*//////////////////////////////*/

/* KREIRANJE COUNTERA ODNOSNO, NJEGOVO RESETOVANJE */
body {
    counter-reset: brojInvalida;
}

/* INKREMENTIRANJE COUNTER-A, KADA ELEMENT POSTANE NEVALIDAN*/
ul.blahKlasa :invalid {
    background-color: tomato;
    counter-increment: brojInvalida;
}

/* KORISCENJE PSEUDO ELEMENTA, PARAGRAFA, KAKO BI PRIKAZAO KOLIKO IMA INVALID INPUT ELEMENATA */

ul.blahKlasa + p:before {
    content: 'Imas ' counter(brojInvalida) ' nevalidnih unosa';
}

/*//////////////////////////////////////////*/

.nekaBlahKlasa:placeholder-shown {
    outline: tomato solid 4px;
}


input.numKlasa:user-invalid {
    border: tomato solid 4px;
    color: tomato;
}

/*//////////////////////////////////////////*/

div.prazniEl > :-moz-only-whitespace {
    border: tomato solid 8px;
}


/*/////////////////////////////////////////*/

/* nav h1, section h1, article h1, aside h1 {
    color: #BADA55;
} */

:-moz-any(nav, section, article, aside, [title]) h1 {
    color: #BADA55;
}

:-webkit-any(nav, section, article, aside, [title]) h1 {
    color: #BADA55;
}

:matches(nav, section, article, aside, [title]) {
    color: #BADA55;
}


:matches(div.tekst_kont, section.tekst_sek) p {
    background-color: #e24c60;
}

/* :is(div.tekst_kont, section.tekst_sek) p {
    background-color: #e24c60;
}

:any(div.tekst_kont, section.tekst_sek) p {
    background-color: #e24c60;
} */

:-webkit-any(.tekst_kont, .tekst_sek) p {
    background-color: #e24c60;
} 

/* :-moz-any(div.tekst_kont, section.tekst_sek) p {
    background-color: #e24c60;
} */


/*//////////////////////////////////////*/

p:dir(rtl){
    background-color: tomato;
}

p:not(:dir(ltr)) {
    color: olive;
}

/*///////////////////////////////////////*/

/* body > div:nth-last-child(11):focus {
    color:#053634;
}

body > div:nth-last-child(11):active {
    background-color: #e24c60;
} */

/* body > div:nth-last-child(11):-moz-any(:focus, :active) {
    outline: #e4a411 4px solid;
}  */

/* body > p:nth-last-of-type(5):focus {
    outline: #BADA55 solid 2px;
} */



/* body > p:nth-last-of-type(3):-webkit-any(:focus, :active) {
    outline: 4px solid #43eb19;
} */

body > p:nth-last-of-type(3):-webkit-any(:focus, :active)
{
    outline: 4px solid #43eb19;
}


body > p:nth-last-of-type(3):-moz-any(:focus, :active)
 {
    outline: 4px solid #43eb19;
}


div.paraf_kont p:focus, 
div.paraf_kont p:active {
    outline: #e24c60 solid 4px;
}

div.paraf_kont p:active {
    color: #c50c78;
    font-weight: bolder;
}

/* ////////////////////////////////////// */

div.some_kont * {
    margin: 18px;
}


/* KADA SE PARAGRAF FOKUSIRA, ZELIM DA div DOBIJE, ODGOVARAJUCI outline */
/* div.some_kont:focus-within {
    outline: #e24c60 dotted 4px;
} */

/* KADA SE PARAGRAF FOKUSIRA, ZELIM DA section DOBIJE, ODGOVARAJUCI color TEKSTA */
/* div.some_kont > section:focus-within {
    outline: #25a88c ridge 4px;
} */

/* A UZ POMOC POMENUTE PSEUDO KLASE, MOGU DEFINISATI, KAKAV CE STIL BITI (KADA SE FOKUSIRA), ONOG ELEMENTA, KOJI JE FOCUSABLE, A U OVOM SLUCAJU TO JE PARAGRAF (KOJI IMA tabindex ATRIBUT) */

/* div p:focus-within {
    background: #6d668d;
    color: #c80942;
}

div.some_kont p::-moz-focus-outer {
    border: 4px dotted red;
} */

/* div.some_kont p:focus {
    border: 10px solid red;
    background: #25a88c;
}
 */
/*///////////////////////////////////////*/

/* div.kontrol_kont button:focus-visible {
    font-weight: 800;
    color: antiquewhite;
} */

/* div.kontrol_kont button:focus {
    outline: #25a88c solid 4px;
} */

/* div.kontrol_kont button:focus {
    font-weight: 800;
    color: antiquewhite;
    outline: #25a88c solid 2px;
}

div.kontrol_kont button:-moz-focusring {
    font-weight: 800;
    color: antiquewhite;
    outline: #25a88c solid 2px;
} */


/* :-moz-focusring {
    color: #BADA55;
    font-weight: 800;
}
 */

button.dugme::-moz-focus-inner {
    /* UKLANJAM BORDER TAK OSTO MU DEFINISEM DEBLJINU, ODNOSNO OFFSET, NA NULA */
    
    /* border: #3C3B6E solid 0px; */
    
    /* A MOGAO SAM PROSTO, PODESITI I SLEDECE */
    border: none;

    /* I KADA SE FOKUSIRA DUGME U FIREFOXU, NECE VISE BITI VIDLJIV, TAJ UNUTRASNJI BORDER
    KOJI IMA DOTTED STILL */
}

.some_kont p:focus {
    border: red solid 4px;
    outline: none;
}

.some_kont p::-moz-focus-inner {
    outline: 4px solid pink;
}


/*////////////////////////////////////*/

html, body {
    scroll-behavior: smooth;
}


#lorem:target {
    color: pink;
    
}

#ipsum:target {
    background-color: #BADA55;
}

#lorem, #ipsum {
    padding: 20px;
    border: olive solid 10px;
}

/*//////////////////////*/

div.ankoreri > a:visited {
    background-color: blue;
}
div.ankoreri > a:link {
    background-color: purple;
}

/*//////////////////////*/


div.jezici {
    width: 50vw;
    margin: 10px auto;
}

div.jezici div.navigacija {
    border: tomato solid 1px;
    text-align: center;
    border-bottom: 0px;
}

div.jezici div.navigacija a {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    height: 5vw;
    width: 10vw;
    border: 2px solid #6d668d;
    background-color: darkslategray;
    font-size: 1.2rem;
    border-bottom: 0px;
    color: honeydew;
    padding-top: 0px;

}

/* div.jezici div.navigacija a { */
    /* pointer-events: none; */
/* } */

div.jezici div.navigacija a:target {
    background-color: #B22234;
}


div.jezici div.sadrzina {
    border: tomato solid 1px;
    height: 10vh;
    padding: 4%;
    border-top: 0px;
    background-color: #e24c60;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
}

div.jezici div.sadrzina div {
    overflow: auto;
    height: 100%;
    position: absolute;
    z-index: -2;
}

div.jezici div.sadrzina div:target {
    z-index: 1;
}

/* div.jezici div.navigacija  */



/*/////////////////////////////////////////////////*/

div.tabovi {
    border: tomato solid 0px;
    width: 78vw;
    height: 300px;
    margin: 20vw auto;
    position: relative;
    overflow: hidden;
}

div.tabovi section {
    border: olive solid 0px;
    padding: 10px;
    position: absolute;
    overflow: auto;
    height: 80%;
    box-sizing: border-box;
    top: 20%;
    background-color: #BADA55;
}

div.tabovi a {
    position: absolute;
    top: 34px;
    display: inline-block;
    border: rgb(194, 60, 154) solid 1px;
    width: 58px;
    height: 28px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration-line: none;
    border-bottom: 0;
    color: #180618;
}

div.tabovi a:nth-of-type(1) {
    left: 5%;
}

div.tabovi a:nth-of-type(2) {
    left: 33.3%
}

div.tabovi a:nth-of-type(3) {
    left: 66.6%;
}

div.tabovi a:active, div.tabovi a:visited {
    color: #180618;
}

div.tabovi section:not(:target) {
    z-index: -2;
}

div.tabovi section:target {
    z-index: 1;
}

div.tabovi section:target + a {
    background-color: #BADA55;
}

/*////////////////////////////////////////////////////////*/

div.tabs {
    border: tomato solid 0px;
    width: 78vw;
    height: 300px;
    margin: 20vw auto;
    position: relative;
    overflow: hidden;
}

div.tabs section {
    border: olive solid 0px;
    padding: 10px;
    position: absolute;
    overflow: auto;
    height: 80%;
    box-sizing: border-box;
    top: 20%;
    background-color: #BADA55;
}

div.tabs label {
    position: absolute;
    top: 34px;
    display: inline-block;
    border: rgb(194, 60, 154) solid 1px;
    width: 58px;
    height: 28px;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 0;
    color: #180618;
    cursor: pointer;
}

div.tabs label:nth-of-type(1) {
    left: 5%;
}

div.tabs label:nth-of-type(2) {
    left: 33.3%
}

div.tabs label:nth-of-type(3) {
    left: 66.6%;
}

div.tabs input {
    display: none;
}


div.tabs input:not(:checked) + section {
    z-index: -1;
}

div.tabs input:checked + section {
    z-index: 1;
}

div.tabs input:not(:checked) + section + label {
    background-color: #6d668d;
}

div.tabs input:checked + section + label {
    background-color: #BADA55;
}

/* /////////////////// HACKING SPECIFICITY ////////////////////////// */


.disabled {   /* SPECIFICITY 1-0-1 */
    cursor: default !important;     /* SPECIFICITY 1-0-0-0-0 */
}

.deactivated.deactivated {              /*SPECIFICITY  0-2-0 */
    cursor: default;
}

/* PARAGRAF DUGME TREBA OBICNO DA IMA  */

p.btn {                 /* SPECIFICITY 0-1-1 */
    cursor: pointer;
}

/* //////////////////////////////////////////////////////////////// */

/* WIDGET-OV CSS FAJL: */

#TheirWidget {
    background-color: blue !important;
}


/* MOJ CSS FAJL: */
/* A OVO JE ID SELEKTOR, KOJI SAM JA ZADAO WIDGET-U, ODNOSNO, PRE NEGO STO SAM ODLUCIO DA UVEDEM
WIDGET JA SAM NJEGOVOM CONTAINERU ZADO ID */

#thirdPartyWidget {
    background-color: #BADA55;       /* JASNO JE DA AKO POSTOJI GORNJI SELECTOR, DA ZAISTA NE POSTOJI NISTA */
}                                   /* STO BIH MOGAO URADITI, KAKO BI POVECO SPECIFICITY OVOG SELECTORA */

/*///////////////////////////////////////*/

ul.foo_bar li {
    color: tomato !important;
}

ul.foo_bar li {
    animation: promenaBoje forwards;
}

@keyframes promenaBoje {
    100% {
        color: #BADA55;
    }
}


/* ////////////////////////////////////////// */

div.blah_page p:first-of-type::first-letter {
    font-size: 3em;
    line-height: 1;
    color: hsl(150, 56%, 47%);
    padding: 0 4px 2px 0;
    font-weight: bold;

    float: left;    /* DA NISAM STAVIO OVO, FIRST LETTER BI BIO U PRVOM LINE-U, CIME BI IMAO IZGLED */
                    /* TAKAV DA BI FIRST LETTER U FIRST LINE-U, BIO VECI OD OSTALIH SLOVA */
                    /* ODNOSNO PRECIZNIJE RECENO IMAO BIH JEDNO OGROMNO SLOVO U PRVOM REDU A PORED NJEGA
                    OSTALA SLOVA PRVOG REDA, TAK ODA BI TO PRVO SLOVO 'STRCALO', A TAKO NE TREBA DA IZGLEDA
                    DROP CAP, JER ON TREBA DA BUDE S SVOJE DESNE STRANE 'PREPLAVLJEN' TEKSTOM 
                    ODNOSNO MA KOLIKO TEKSTA IMA PORED NJEGA, TREBALO BI DA SE TAJ TEKST NALAZI DESNO OD NJEGA
                    CELOM NJEGOVOM VISINOM */

    /* UPRAVO UZ KORISCENJE float-A, POSTIGNUTO JE DA SE SAV OSTALI TEKST WRAPP-UJE, UZ FIRST LETTER, JER TAKVA
    JE OSOBINA FLOATING ELEMENTA, DA ONO STO MU JE SUSED, ODMA POCNE DA FLOAT-UJE UZ NJEGA */
}

/* ////////////////////////////////////////// */

div.some_text {
    border: #e24c60 solid 1px;
    float: left;
}

div.some_text + p {
    display: inline-block;
}

div.fl_kont p:first-of-type {
    float: right;
}

/* ////////////////////////////////////////// */

div.f_kont {
    border: tomato solid 4px;
    padding: 28px;
}

div.f_kont * {
    border: olive solid 4px;
    margin: 10px;
}

/* div.f_kont div.f_e {
    float: left;
} */

div.f_kont div.f_e + div {
    float: left;
}

/* ////////////////////////////////////////// */

p.par_el::before {
    content: "before content - ";
    font-weight: bold;
}

p.par_el::after {
    content: " - after content";
    font-weight: bold;
}

/* /////////////////////////////////////// */
/* SAMO ZA VEZBU */

.bezveze:window-inactive {
    counter-increment: none;
    content: "/3682";
    -webkit-tap-highlight-color: indianred;
    -webkit-user-select: none;
    -webkit-touch-callout: none;


}

/* .bezveze::-webkit-scrollbar {
    scrollbAr
}
 */
/* //////////////////////////////////////// */

p.paraBtn {
    /* user-select: none; */
    /* -moz-user-select: none; */
    /* -webkit-user-select: none; */
    -ms-user-select: none;

    -webkit-touch-callout: none;

    -webkit-tap-highlight-color: #BADA55;


}

/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

/* KADA JE WINDOW INACTIVE, (KADA SAM U NEKOM DRUGOM PROGRAMU, A AKO MOGU VIDETI BROWSER-OW WINDOW, 
I ELEMENT U NJEMU, VIDECU DA CE ELEMNT IMATI DRUGI BACKGROUND COLOR, KAO POSLEDICA STILA KOJI SAM ZADAO
SELEKTUJUCI ELEMENTE SLEDECOM PSEUDO KLASOM) */ /* SAMO ZA FIREFOX */
div.neki_el_blah:-moz-window-inactive {
    background-color: #d7e4f0;
}

/* MOZZILA */
div.neki_el_blah {
    
    background-color: antiquewhite;
    
    /* SAMO, OGRANICENO STILIZOVANJE, UZ SLEDECA DVA PROPERTIJA */

    scrollbar-width: thin;
    scrollbar-color: #449fc3 rgb(5, 21, 32);
}

/*CHROME, OPERA, SAFARI*/
div.neki_el_blah::-webkit-scrollbar {
    width: 18px;
    background-color: #ee8080;
    margin-right: 18px;  /* NEMA EFEKTA (A ESTELLE JE DEFINISALA, NE ZNAM ZASTO) */
    border-radius: 6px;
}

div.neki_el_blah::-webkit-scrollbar-track {
    box-shadow: 0 2px 2px #8b908dd7;
    
}

div.neki_el_blah::-webkit-scrollbar-thumb {
    border: 2px solid #e33ce9;
    border-radius: 6px;
    background-color: #27375d;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
    transition: all .3s ease-out;
}

div.neki_el_blah::-webkit-scrollbar-thumb:window-inactive {
    background-color: #BADA55;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}

div.neki_el_blah::-webkit-scrollbar-thumb:hover {
    background-color: darkolivegreen;
}

/* div.neki_el_blah pre {  OVO JE ESTELLE DEFINISALA, JER JE STAVILA TEKST U pre TAG, DA BI IMALA SCROLLBAR
    width: 700px;           MENI NE TREBA, ALI NEKA OVDE COMMENTED OUT CODEA
    height: 200px;
    overflow: auto;
} */


/* /////////////////////////////////////////////////////////////// */

/* STILIZOVANJE GENERISANE SADRZINE */
/* GDE CU POKAZATI DA JE MOGUCE POZICIONIRATI I TRANSFORMISATI GENERATED CONTENT */

p.cure::before {
    content: "Dimethyltryptamine ";

    position: absolute;
    transform: rotate(48deg);
    left: 12px;
}

p.cure::after {
    content: " Lysergic acid diethylamide";
}

/* STILIZOVANJE 'NORMALNE' SADRZINE (STO NASLEDJUJE I GENERATED CONTENT 
    (BAR U SLUCAJU, VECINE STILOVA) */

p.cure {

    /* APSOLUTNO POZICIONIRANJE GENERATED CONTENT-A, UCINICE DA SE NA
    GENERATED CONTENT-U, NE PRIMENE NEKI STILOVI */

    width: 56%;
    margin: 12% auto;
    border: tomato solid 2px;    /* AKO POGLEDAM BORDER, VIDECU DA ON OKRUZUJE I 
                                    GENERATED CONTENT */
                                    /* MOGU TO JASNO VIDETI, ZA AFTER JER ON NIJE
                                    APSOLUTNO POZICIONIRAN */

    font-weight: 800;       /* OVE STILOVE JE NASLEDILA I GENERATED CONTENT */
    font-size: 2rem;
    color: #2d2e47;
    
    text-decoration-line: overline;
    text-decoration-style: wavy;    /* AKO APSOLUTNO POZICIONIRAM GENERATED CONTENT
                                    OVI STILOVI SE NECE PRIMENITI*/
}


/* /////////////////////////////////////////////////////////// */
/* MATERIAL DESIGN FONT */



/* /////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////// */
div.cameleon_el {
    display: inline-block;
    border: #c50c78 solid 4px;
    width: 58vw;
    font-size: 1.2rem;
    text-align: center;
}

/* resolution */

@media screen and (max-resolution: 4dppx) and (min-resolution: 2dppx) {

    div.cameleon_el {
        border-color: #3e9578;
        border-width: 10px;
        width: 100vw;
        font-size: 2rem;
        box-sizing: border-box;
        margin: 0 auto;
    }

}



/* @media screen and (width >= 800px) {
    body {
        background-color: #71f3d2;
    }
} 


@media not screen and (width) {
    body {
        background-color: antiquewhite;
    }
}
 */

/* @media screen and (max-width: 500px) {
    body {
        border: olive solid 10px;
    }
} */



/* @media screen and (width >= 380px) and (width <= 648px) {

    body {
        background-color: #4ed4ec;
    }

}



@media (not (max-width: 800px)) {
    
    

}


@media ((min-width: 480px) and (max-width: 680px)) {

    body { 
        background-color: #d33838;
    }

} */


@supports not (transform-origin: 10em 10em 10em) {

    body {
        background: tomato;
    }

}

/* @supports not (not (transform-origin: 10em 10em 10em)) {

    body {
        background-color: #9db0b8;
    }

} */

/* @supports not (selector(:first-child)) {

    body {
        outline: #BADA55 solid 28px;
    }

}

@supports selector(:-webkit-any()) {

    body {

        background-color: pink

    }

}
 */

/* ////////////////////////////////////////////////////// */

/* @media screen and (min-width: 38em) {

    p.bacon_lorem {
        padding: 0% 22%;
    }

} */

p.bacon_lorem {
    margin: auto;

    border: tomato solid 2px;

    max-width: 48em;


    hyphens: auto;
    
     /* -webkit-hyphens: auto; */
    /* -ms-hyphens: auto; */ 

    column-count: 4;

    column-fill: balance;

    column-width: 14em;

    /* -wbkit-column-fill: balance; */
    /* -moz-column-fill: balance; */

}

/* p.bacon_lorem::after {
    content: "NEKITEK\00ADTKRUPAN BLAH BLAH";
} */


article.clanak {
    max-width: 58em;        /* SMANJUJUCI VIEWPORT ISPOD OVE SIRINE, DESICE SE SVE ONO STO */
    margin: auto;           /* SAM GORE OBJASNJAVAO, U POGLEDU COLLAPSINGA BROJA KOLONA I PROMENI SIRINE KOLONE */

    column-count: 6;
    column-width: 9em;

    column-rule: tomato solid 2px;

}

article.clanak > :-webkit-any(h1, h2) {
    column-span: all;
    /* -webkit-column-span: all; */
    color: olive;
    background-color: gainsboro;
    text-align: center;
}

/* column-span NIJE PODRZAN U FIREFOX-U */
/* NE TREBAM OBRACATI PAZNJU NA OVO */
/* SAMO DODAJRM NEKE STILOVE HEADER-IMA, U FIREFOX-U */
article.clanak > :-moz-any(h1, h2) {

    /* KAKO column-span NIJE PODRZAN U FIREFOX-U, ONO STO SAM MOGAO URADITI
    JESTE APSOLUTNO POZICIONIRANJE, OVIH HEADER-A U FIREFOX-U
    UZ TO BIH IM DODAO I SIRINU OD 100% (NARAVNO PRE TOGA BIH article-U DODAO position: relative)*/
    
    color: darkslategray;
    background-color: #d58adfb9;
    text-align: center;
}


/* //////////////////////////////////////////////////// */


svg.kont_kruga circle {

    r: 46%;

}

@media screen and (min-width: 38em) {

    svg.kont_kruga circle {
        r: 36%;
        stroke: orange;
        fill: wheat;
    }

}
@media screen and (min-width: 49em) {

    svg.kont_kruga circle {
        r: 28%;
        stroke: #25a88c;
        fill: #6d668d;
    }

}
@media screen and (min-width: 68em) {

    svg.kont_kruga circle {
        r: 18%;
        stroke: #c80942;
        fill: greenyellow;
    }

}



